Addition/Schemas/AdditionTwoNumbers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AdditionTwoNumbers" xmlns:tns="http://www.example.org/AdditionTwoNumbers" elementFormDefault="qualified">

    <complexType name="Numbers">
    	<sequence>
    		<element name="num1" type="int"></element>
    		<element name="num2" type="int"></element>
    	</sequence>
    </complexType>

    <element name="Input" type="tns:Numbers"></element>
</schema>